.services{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 80px;
    padding: 0 120px;
    overflow: hidden;
}
.service-wrapper{
    margin: auto;
}
.service-wrapper h1{
    text-transform: capitalize;
    color: rgb(2, 2, 40);
    text-align: center;
    font-size:50px;
    margin-bottom: 80px;
    font-family: 'Libre Franklin', sans-serif;
}
.service-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.service-cont:nth-child(2n){
    flex-direction: row-reverse;
}
.service-cont div:first-child{
    width: 40%;
    font-family: 'Libre Franklin', sans-serif;
}
.service-cont div:last-child{
    width: 50%;
}
.service-cont div:first-child h2{
    text-transform: capitalize;
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 20px;
    color: rgb(2, 2, 40);
}
.img-cont img{
    position: relative;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 890px){
    .services{
        padding: 0 60px;
    }
    .service-wrapper h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 760px){
    .service-cont{
        flex-direction: column;
    }
    .service-wrapper h1{
        width: 80%;
        margin: auto;
        text-align: left;
        margin-bottom: 40px;
    }
    .service-cont:nth-child(2n){
        flex-direction: column;
    }
    .service-cont div:first-child{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }
    .service-cont div:last-child{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 500px){
    .service-wrapper h1{
        width: 100%;
    }
    .service-cont div:first-child{
        width: 100%;
    }
    .service-cont div:last-child{
        width: 100%;
    }
    .service-cont div:first-child h2{
        font-size: 20px;
    }
    .service-cont div:first-child p{
        font-size: 14px;
    }
    .service-cont{
        margin-bottom: 50px;
    }
    .service-wrapper h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 400px){
    .services{
        padding: 0 30px;
    }
}