.register{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 2, 40);
}
.register > div{
    width: 50%;
}
.register > div:last-child > img{
   position: relative;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.register > div:first-child{
    padding: 50px 150px 50px 50px;
    position: relative;
}
.register > div:first-child > h2{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 50px;
    font-family: 'Libre Franklin', sans-serif;
    text-transform: capitalize;

    /* color:rgb(247, 213, 172); */
}
.form{
    width: 100%;
}
.form input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px 0 0 3px;
}
form input::placeholder{
    text-transform: capitalize;
}
.number-ins{
    color: rgb(60, 252, 60);
    font-size: 10px;
    margin-bottom: 5px;
}
.form .phone{
    margin-bottom: 2px;
}
.form .btnCon{
    width: 100%;
}
.form button{
     width: 100%;
     height: 45px;
     background-color: rgb(247, 213, 172);
     border: none;
     outline: none;
     margin-top: 20px;
     text-transform: capitalize;
     color: rgb(2, 2, 40);
     border-radius: 8px;
}
.form button:active{
    background-color: rgb(218, 171, 114);
}
.messages{
    color: red;
    font-size: 12px;
}
@media screen and (max-width: 1000px){
    .register > div:first-child{
        padding: 50px 70px 50px 50px;
    }
}
@media screen and (max-width: 800px){
    .register > div:last-child{
        display: none
    }
    .register > div:first-child{
        padding: 50px 0;
        background-image: url('/public/images/delivery01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
    }
    .form{
        width: 400px;
        margin: auto;
    }
    .register > div:first-child::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(2, 2, 40, 0.657);
    }
    .register > div:first-child > h2{
        background-clip: text;
        position: relative;
        z-index: 1;
        text-align: center
    }
    .form{
        background-clip: text;
        position: relative;
        z-index: 1
    }
}
@media screen and (max-width: 500px){
    .form{
        width: 70%;
    }
    .register > div:first-child > h2{
        margin-bottom: 80px;
    }
}